- name: Include arch-desktop.yml
  import_playbook: arch-desktop.yml
- name: Arch-home.yml - personal setup for arch
  hosts: arch
  become: false
  vars:
    the_user: "{{ ansible_facts['user_id'] }}"
  tasks:
    # PACKAGES - Official repos home packages setup
    - name: Setup home packages
      become: true
      community.general.pacman:
        executable: yay
        update_cache: true
        name:
          - qbittorrent # torrent client
          - yt-dlp
        state: present
    # PACKAGES - AUR home packages setup
    - name: Install packages from AUR using yay
      kewlfft.aur.aur:
        name:
          - telegram-desktop-bin # messaging
          - vesktop # discord ascended
        use: yay
        state: present
    # CONFIG - gaming group?
    - name: Adding existing user to gaming groups
      become: true
      ansible.builtin.user:
        name: "{{ the_user }}"
        groups:
          - games
        append: true
