- name: Include arch-core.yml
  import_playbook: arch-core.yml
- name: Arch-desktop.yml - desktop setup for arch
  hosts: arch
  become: false
  vars:
    the_user: "{{ ansible_facts['user_id'] }}"
  tasks:
    # PACKAGES - Official repos desktop packages setup
    - name: Setup desktop packages
      become: true
      community.general.pacman:
        update_cache: true
        name:
          # Typography Foundation
          - ttf-roboto # The backbone of modern interfaces
          - ttf-hack # Monospace perfection
          - ttf-liberation # Freedom in letterforms
          - noto-fonts # Unicode coverage done right
          - noto-fonts-extra # Because *every* glyph matters
          - noto-fonts-emoji # Expression through pictographs
          - adobe-source-sans-fonts # Professional grade typography
          - ttf-firacode-nerd
          - ttf-jetbrains-mono-nerd
          # Core Experience
          - mpv # Video playback ascended
          - realtime-privileges # Audio latency? Not in my system
          - kitty # Terminal emulation evolved
          - ttf-meslo-nerd # Glyphs for the discerning eye
        state: present
    # PACKAGES - AUR desktop packages setup
    - name: Install packages from AUR using yay
      kewlfft.aur.aur:
        name:
          - google-chrome-beta # Web browsing on the somewhat-bleeding edge
          - jdk24-graalvm-ee-bin # newer one
        use: yay
        state: present
    - name: Remove unneeded packages if present
      become: true
      community.general.pacman:
        name:
          - prismlauncher-git-debug # Debugging artifacts, begone
          - ttf-meslo-nerd-font-powerlevel10k # Legacy font
          - jdk23-graalvm-ee-bin # nope
          - jdk22-graalvm-ee-bin # Yesterday's Java
          - jdk21-graalvm-ee-bin # Ancient Java (meanwhile, java 8 users...)
          - wezterm # A path not taken
          - ttf-fira-code # already used, but without nerd patches
        state: absent
    # CONFIG - Optimization and/or compatibility improvements
    - name: Adding existing user to group audio
      become: true
      ansible.builtin.user:
        name: "{{ the_user }}"
        groups:
          - realtime # Adding user to this group may allow direct device access in realtime
        append: true
    # CONFIG - kitty
    - name: Copy kitty dotfiles
      ansible.builtin.copy:
        src: "user_home/{{ item }}"
        dest: "/home/{{ the_user }}/{{ item }}"
        force: true
        owner: "{{ the_user }}"
        group: "{{ the_user }}"
        mode: u+rw,g+r,o--
      loop:
        - .config/kitty/
    # CONFIG - copy other config files
    - name: Copy other dotfiles
      ansible.builtin.copy:
        src: "user_home/{{ item }}"
        dest: "/home/{{ the_user }}/{{ item }}"
        force: true
        owner: "{{ the_user }}"
        group: "{{ the_user }}"
        mode: u+rw,g+r,o--
      loop:
        - .config/chrome-beta-flags.conf

